server {
    listen       80;
    server_name 0.0.0.0;
    client_max_body_size 500M;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass ${API_HOST};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
